
.main-div {
    padding: 40px;
    background: linear-gradient(to bottom, #00ffcc 0%, #33cc33 100%);
    
}

#bills #expenses {
    font-size: 4;
}

.div-bills-table .div-expenses-table{
    box-decoration-break: clone;
    align-items: center;
}

#card-one, #card-two, #card-three, #card-four, #card-five {
    border-radius: 20px;
    font: bold;
    border-width: 2px;
    background-image: radial-gradient(rgb(227, 238, 227), #d6f5d6) ;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgb(2, 10, 4) 0px 10px 50px;
    
    

}

#bills-header, #current-balance-header, #save-amount-header, #bar-chart-header, #expenses-header, #balance-text, #year-saving-text, #expense-vs-income-header{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    font-size: 48px;
    color: rgba(0, 0, 0, 0.64);
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;

}

.Select-menu-outer {
    display : block !important;
    }


/* CSS */
.button {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button:hover:after {
  transform: translate(0, 0);
}

.button:active {
  background-color: #ffdeda;
  outline: 0;
}

.button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button {
    padding: 0 40px;
  }
}
