
.main-div {
    padding: 40px;
    background: linear-gradient(to bottom, #00ffcc 0%, #33cc33 100%);
    
}

#bills #expenses {
    font-size: 4;
}

.div-bills-table .div-expenses-table{
    box-decoration-break: clone;
    align-items: center;
}

#card-one, #card-two, #card-three, #card-four, #card-five {
    border-radius: 20px;
    font: bold;
    border-width: 2px;
    background-image: radial-gradient(rgb(227, 238, 227), #d6f5d6) ;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgb(2, 10, 4) 0px 10px 50px;
    
    

}

#bills-header, #current-balance-header, #save-amount-header, #bar-chart-header, #expenses-header, #balance-text, #year-saving-text, #expense-vs-income-header{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    font-size: 48px;
    color: rgba(0, 0, 0, 0.64);
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;

}

.Select-menu-outer {
    display : block !important;
    }
